<!DOCTYPE html>

<head>
    <title>Welcome Flask APP</title>

    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">

</head>

<h1>YOU'VE REACHED THE BMI PAGE!</h1>

<body>

<div class='main'>
    <p>Please enter height in inches and weight in pounds.</p>

    <form class="pure-form" method="POST" action="/bmi">
    Height:<br>
    <input type="text" height="userheight"><br>
    Weight:<br>
    <input type="text" weight="userweight"><br>
    <button type="submit" class="pure-button pure-button-primary" value="Submit">Submit</button>
    </form>    

</div>

<br>

<div class='main'>
    {% if bmi %}
        <p>Your BMI is {{ bmi }}!</p>
    {% endif %}
</div>

</body>