<!DOCTYPE html>

<head>
    <title>Grocery Recommender</title>

    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">

</head>

<h1>Welcome to my grocery recommender!</h1>

<div class='main'>
    <p>Please try either the NLP or SVD recommender.</p>

    <form class="pure-form" method="POST" action="/nlp">
        <button type="submit" class="pure-button pure-button-active" value="Submit">NLP</button>
    </form>    
    <br/>
    <form class="pure-form" method="POST" action="/svd">
        <button type="submit" class="pure-button pure-button-active" value="Submit">SVD</button>
    </form>   
</div>

<br>

</body>