<!DOCTYPE html>

<head>
    <title>Singular Value Decomposition Grocery Recommender</title>

    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">

</head>

<h1>SVD Grocery Recommender</h1>

<body>

<div class='main'>
    <br/>
    <table>
    <th>{{ session['prod_name'] }}</th>
    </table>
    <br/>
    <form class="pure-form" method="POST" action="/rating">
    Please give your rating for this product on a scale of 1 to 5: (enter 0 for a different product)
    <br/>
    <input type="text" name="rate_product">
    <br/>
    <button type="submit" class="pure-button pure-button-primary" value="Submit">Submit</button>
    </form>
</div>

<br>

<div class='main'>
    <br/>
</div>

</body>